[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
asgiref = "*"
pytest = "*"
zipp = "*"
typed-ast = "*"
werkzeug = "*"
sqlparse = "*"
yapf = "*"
wcwidth = "*"
typing-extensions = "*"
snowballstemmer = "*"
six = "*"
setoptconf = "*"
python-stdnum = "*"
pyyaml = "*"
requirements-detector = "*"
pylint-flask = "*"
astroid = "*"
atomicwrites = "*"
colorama = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-localflavor = "*"
dodgy = "*"
importlib-metadata = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
more-itertools = "*"
mypy = "*"
mypy-extensions = "*"
packaging = "*"
pep8-naming = "*"
pluggy = "*"
prospector = "*"
py = "*"
pycodestyle = "*"
pydocstyle = "*"
pyflakes = "*"
pylint-celery = "*"
pylint-django = "*"
pylint-plugin-utils = "*"
pyparsing = "*"
attrs = "*"
django-environ = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
