{% extends "base.html" %}
{% block content %}

<h1>Login</h1>

{% if retry %}
<p style="color:red;font-weight:bold;">Invalid username/password combination.</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <p>
	<label for="username">username</label>
	<input type="text" id="username" name="username">
    </p>
    <p>
	<label for="password">password</label>
	<input type="password" id="password" name="password">
    </p>
    <input type="submit" value="login">
</form>

<p><a href="{% url 'create_user' %}">New? Create an Account</a></p>
{% endblock %}
